
body {
    background-color: black;
    margin: 0;
}

#screensaver {
    width: 100vw;
    height: 100vh;
}




.orb {
    height: 300px;
    width: 300px;

    background: linear-gradient(-45deg, #aad1b6, #b5caf9, #c7b9ff, #f0b9dd, #f3bf99, #fffad1);
    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    animation-name: example;
    animation-duration: 4s;
}



